  .project {
    padding: 1rem;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .shadow-title{
        //position: absolute;
        margin-top: 30px;
        width: 100%;
        height: 10%;
        font-family: 'Muli', sans-serif;
        padding: 0 0 50px 30px;
        font-size: 5vw;
        line-height: 1;
        color: #fff;
        @media (max-width: 1300px) {
            padding-top: 5 rem;
        }
        h1{
            font-size: 30px;
        }
        .project_title{
            width: 100%;
            height: 100px;
            font-family: 'PPTelegraf';
            display: flex;
            align-items: center;
            justify-content: space-between;
            .project_hover{
                position: relative;
                font-size: 15px;
                z-index: 999;
            }
            span{
                &:nth-child(2){
                    width: 60%;
                }
                p{
                    text-align: start;
                    font-size: 40px;
                    letter-spacing: -3px;
                    span{
                        margin-left: 200px;
                    }
                }
            }
        }

    }
    .project_wrapper {
        max-width: 90%;
        width: 100%;
        .project_card_wrapper {
            display: flex;
            position: relative;
            height: 150px;
            padding-top: 1rem;
            padding-bottom: 1rem;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid;
            transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 300ms;
            transition-duration: 500ms;
            
            &:hover{
                color: #fff;
                filter: none;
            }
            .project_box_span_wrapper {
                display: block;
                position: relative;
                z-index: 10;
                font-size: 2.5rem;
                line-height: 2.5rem;
                font-weight: 400;
                transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 300ms;
                transition-duration: 500ms;
                .tech{
                    position: relative;
                    border-radius: 14px;
                    padding: 10px;
                    background: #000;
                    display: inline-flex;
                    gap: 10px;
                    font-size: 2rem;
                    text-align: center;
                }
                .inline-block {
                    display: inline-block;
                }

                @media (min-width: 768px) {
                    font-size: 3rem;
                    line-height: 1;
                }




            }
            .project_box_header {
                display: block;
                position: relative;
                z-index: 10;
                margin-top: 0.5rem;
                font-size: 1rem;
                line-height: 1.5rem;
                transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 300ms;
                transition-duration: 500ms;
            }
            .project_image_wrapper {
                object-fit: cover;
                position: absolute;
                z-index: 0;
                border-radius: 0.5rem;
                width: 8rem;
                height: 6rem;

                @media (min-width: 768px) {
                    width: 16rem;
                    height: 12rem;
                }

            }

            
            .project_icon_wrapper {
                position: relative;
                z-index: 10;
                padding: 1rem;
                text-align: center;
                display: flex;
                gap: 10px;
                .lock{
                    width: 200px;
                    height: 50px;
                    border-radius: 12px;
                    padding: 5px 10%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background: #35363a;
                    border: 1px solid #ffffff53;

                }
                .project_icon {
                    font-size: 3rem;
                    line-height: 1;
                    rotate: -30deg;
                }
            }

            @media (min-width: 768px) {
                padding-top: 2rem;
                padding-bottom: 2rem;
            }

        }
    }

    @media (min-width: 768px) {
        padding: 2rem;
    }
    @media (max-width: 768px) {
        overflow: hidden;
    }
}