@import "tailwindcss";
@import "tw-animate-css";
@import 'fumadocs-ui/style.css';
@import './extr.css';

body {
  font-family: var(--font-geist-sans-medium);
  overflow-x: hidden;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}