@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "fumadocs-ui/style.css";
@import "./extr.css";

body {
    font-family: var(--font-geist-sans-medium), var(--font-nerd);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px !important;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

@media (max-width: 1600px) {
    .hide {
        display: none;
    }
}

@media (max-width: 1020px) {
    .blackout {
        display: none;
    }
}