.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper .line {
    width: 100%;
    height: 35px;
    position: relative;
    overflow: hidden;
}
.wrapper .line span {
    position: absolute;
    font-size: 2.2vw;
    transition: .6s cubic-bezier(0.61, 1, 0.88, 1);
}
