@font-face {
    font-family: 'dx-slight-black-slim';
    src: url('../Source/Dx-Slight-Black-Slim.otf') format('opentype');
}
@font-face {
    font-family: 'dx-slight-medium-ultra';
    src: url('../Source/Dx-Slight-SemBd-Slim.otf') format('opentype');
    
}

.ui-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    flex-direction: column;

    .Header{
        position: relative;
        z-index: -99;
        // overflow: hidden;
        display: flex;
        justify-content: center;


        h1{
            font-family: dx-slight-black-slim, monospace;
            font-size: 10vw;
            position: relative;
        }
    }
    .box{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: Center;
         width: 100%;

        img{
            position: absolute;
            top: 0;
            height: 600px;

        }
        .portfolio_box{
            width: 500px;
            // box-shadow: 1px 1px 100px rgba(0, 255, 255, 0.544);
            // background-color: rgba(0, 255, 255, 0.544);
            height: 500px;
            border-radius: 50%;
            position: relative;
            top: -120px;
            z-index: -100;
    
        }
        .text{
            width: 50%;
        }
    }

}
