.project_body{
	margin: 0;
	--color-text: #000;
	--color-text-alt: #000;
	--color-bg: #000000;
	--color-bg: #25262A;
	--color-link: #000;
	--color-link-hover: #000;
	--color-link-alt: #000;
	--color-type: #000;
	--type-line-opacity: 0.05;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: halyard-display, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.project_body a {
	text-decoration: underline;
	color: var(--color-link);
	outline: none;
}

.project_body a:hover {
	text-decoration: none;
	color: var(--color-link-hover);
	outline: none;
}

.project_body a.link-alt {
	text-decoration: none;
	color: var(--color-link-alt);
}

.project_body a:focus {
	outline: none;
	background: lightgrey;
}

.project_body a:focus:not(:focus-visible) {
	background: transparent;
}

.project_body a:focus-visible {
	outline: 2px solid red;
	background: transparent;
}

.main {
	position: relative;
	width: 100%;
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
}

.unbutton:focus {
	outline: none;
}

.frame {
	padding: 1rem;
	margin-bottom: 2rem;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 1000;
	text-transform: uppercase;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
}

.frame__tagline {
	color: var(--color-text-alt);
}

.frame__links {
	display: inline;
}

.frame__links a:not(:last-child) {
	margin-right: 1rem;
}

.frame__author {
	display: block;
	width: 100%;
	margin-bottom: 1rem;
}

.item-wrap::-webkit-scrollbar {
	display:block;
	width: 10px;
  }
.item-wrap {
	text-transform: uppercase;
	width: 100% !important; 
	display: flex;
	flex-direction: column;
	align-items: start!important;
	color: #fff;
	padding: 10%;
	gap: 50px;
}

.item {
	--base: 7vh;
	--interval: 9vh;
	padding: 1rem;
	margin: 1rem 0;
	cursor: pointer;
	width: 100%;
	position: relative;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	will-change: transform, opacity;
	height: 500px;
}

.item__img {
	width: 80%;
	height: 100px;
	object-fit: cover;
	border-radius: 24px;
	will-change: transform;
}

.item__caption-title {
	position: absolute;
	left: 0;
	font-size:4vw;
	height: 15%;
	overflow: hidden;
	line-height: 0;
	display: flex;
	align-items: center;

}

.item__caption-description1 {
	position: absolute;
	bottom: -20px;
	height: 2.5%;
	overflow: hidden;
	font-size: 10px;
	right: 50%;
}
.item__caption-description2 {
	position: absolute;
	bottom: -20px;
	height: 2.5%;
	right: 30%;
	overflow: hidden;
	font-size: 10px;
}
.item__caption-description3 {
	position: absolute;
	bottom: -30px;
	height: 2.5%;
	right: 30%;
	text-align: start;
	overflow: hidden;
	font-size: 10px;
}

.type {
	position: fixed;
	height: 100vh;
	text-transform: uppercase;
	width: 100vw;
	display: grid;
	justify-content: center;
	align-content: center;
	text-align: center;
	will-change: transform;
}

.type__line {
	white-space: nowrap;
	font-size: 20vh;
	font-size: clamp(7rem,18.75vh,15rem);
	line-height: 0.75;
	font-weight: bold;
	font-family: quiche-sans, sans-serif;
	color: var(--color-type);
	opacity: var(--type-line-opacity);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	will-change: transform, opacity;
	-webkit-touch-callout: none;
	color: mediumslateblue;
}

@media (max-width: 720px) {
	.item-wrap {
		padding: 5%;
	}
	.item__img {
		width: 100%;
	}
	.item__caption-description2,.item__caption-description3 {
		right: 0;
	}
}