.about_container{
    height: 100%;
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background: linear-gradient(45deg, hsla(0, 0%, 18%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
    background: linear-gradient(45deg, hsla(0, 0%, 18%, 1) 0%, hsla(0, 0%, 0%, 1) 52%);
    .about_wrapper{
        display: flex;
        height: 100vh;
        width: 100%;

        .text_wrapper{
            width:  100%;
            height: 100%;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: space-around;
            padding: 10% 0 5% 0;
 
            img{
                height: 100%;
                @media (max-width:720px) {
                    width: 100%;
                    object-fit: contain;
                }
            }
        }

    }
    .description{
        width: 100%;
        height: 100%;
        padding: 50px;
        color: #fff;
        font-size: 15px;
        font-weight: 100;
        font-family: "PPTelegraf";
        &:nth-child(3){
            height: 100vh;
        }
        @media (max-width:720px) {
            padding: 15px;

        }
        .page_no{
            display: flex;
            width: 50%;
            justify-content: space-between;
            height: 70px;
            p{
                font-size: 1rem;
            }
        }
        .text_area{
            display: flex;
            justify-content: space-between;
            h1{
                font-size: 1rem;
                font-weight: 200 !important;
            }
            p{
                width: 70%;
                font-size: 30px;
                font-family: "PPTelegraf";
                font-weight: 100 !important;

                
                &:nth-child(2){
                    @media (max-width:720px) {
                        display: none;
                    }
                }
                &:nth-child(3){
                    display: none;
                    @media (max-width:720px) {
                        display: block;
                        font-size: 15px;
                        span{
                            margin-left: 50px;
                        }
                    }
                }
                
            }
            .lottie_animation{
                height: 200px;
            }
            .Model_wrapper{
                width: 50%;
                height: 50%;
                margin-top: 100px;
                position: absolute;
            }
        }
    }
}


