.footer_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 98%;
    color: #25262ad2;
    background-color: #dcdcdc;
    position: relative;
    gap: 10px;
    // bottom: -10%;
    .top{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        .Main-box-letter{
            font-family: 'dx-slight-medium-ultra' ;
            font-size: 10vw;
            color: #25262ad2;

        }
        .contact_us{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
            padding: 20px;
            border-bottom: 1px solid rgba(103, 100, 103, 0.8);
           span{
            font-family: 'dx-slight-medium-ultra';
            font-size: 1.9vw;
            letter-spacing: 1px;
           }

            button{
                cursor: pointer;
                font-family: 'dx-slight-medium-ultra';
                font-weight: bold;
                background-color: #25262ab3;
                color: #fff;
                font-size: 1.6vw;
                padding: 5px;
                width: 10vw;
                letter-spacing: 0.7px;    
                color: --DarkGrey;
                span{
                    text-align: center;
                }
            }
        }
    }

    .button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
        width: 80%;
        .logo{
            font-family: "dx-slight-black-slim";
            font-size: 2.4vw;
            letter-spacing: .3vw;
        }
        .links_ui{
            font-family: 'dx-slight-medium-ultra';
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;

            a{
                text-decoration: none;
                color: #25262ad2;
                font-size: 2vw;
            }
        }
        .social-icons{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2vw;
            gap: 1vw;
            cursor: pointer;
            color: #25262ad2;

            
        }
    }
}
.right_reserved{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    font-family: 'dx-slight-medium-ultra';
    color: #dcdcdc;
    letter-spacing: .5px;
    font-size: 1.5vw;
}